<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>insert title</title><!-- 
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/vuetify.css"> 
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" href="css/style.css">
    <script src="cordova.js"></script>
</head>
    <body role="document">
        <div id="app" class="app-template" v-bind:class=" $route.path ==='/home' || $route.path ==='/introSlide' || $route.path ==='/injection' ?  'main' : 'default'">
            <h1 class="blind">그로트로핀</h1>
            <router-view>
                <!--routerView-->
            </router-view>
            <footer class="h-project-footer" v-bind:class=" $route.path ==='/home' || $route.path ==='/growth' || $route.path ==='/injection' || $route.path ==='/homeAdmin' || $route.path ==='/adminMembershipFirst' || $route.path ==='/memberManagement' || $route.path ==='/approvalManagement'?  'default' : 'blind'">
                <nav class="footer-menu" v-bind:class=" $route.path ==='/home' || $route.path ==='/growth' || $route.path ==='/injection'?  'default' : 'blind'">
                    <menu-item v-for="item in mainMenu" v-bind:menu="item" :key="item.id"></menu-item>
                </nav>
                <nav v-if = "store.state.navYN > 5" class="footer-menu-admin" v-bind:class=" $route.path ==='/homeAdmin' || $route.path ==='/adminMembershipFirst' || $route.path ==='/memberManagement' || $route.path ==='/approvalManagement'?  'default' : 'blind'">
                    <menu-item-admin v-for="item in mainMenuAdmin" v-bind:menu="item" :key="item.id"></menu-item-admin>
                </nav>
            </footer>
        </div>
        
        
        
        <script>
            var userAgent = navigator.userAgent.toLowerCase();
            var deviceType = 'etc'
	        // aos
            if ( userAgent.indexOf('android') > -1) {
	            deviceType = "etc"
			// ios
            } else if ( userAgent.indexOf("iphone") > -1||userAgent.indexOf("ipad") > -1||userAgent.indexOf("ipod") > -1 ) {
	            deviceType = "ios"
            // ios pad13 이상
            } else if ( userAgent.indexOf('mac') > -1 && navigator.maxTouchPoints > 0 ) {
                deviceType = "ios"
            }

            // var __URL__ = "https://dahc-staging.azurewebsites.net"; //APP 개발용
            // var __URL__ = "https://dahc.azurewebsites.net"; //APP 운영용 
            var __URL__ = "http://localhost:8080"; //로컬용         
            // var __URL__ = window.location.protocol + "//" + window.location.host; 

            //nice인증은 직접변경
            var __WEBVIEW__= "https://dahc-staging.azurewebsites.net"; //개발용 
            // var __WEBVIEW__= "https://dahc.azurewebsites.net"; //운영용
            // var __WEBVIEW__ = "http://10.1.14.71:8080"; //로컬용     

            //alertFlag Flag = 웹개발  0, 앱전용 1  
            var alertFlag = 0;
                
            function messegeAlert(state){
                if(alertFlag===1){
                    navigator.notification.alert(state, null, '자라다');
                }
                else{
                    alert(state);
                }
            }
		</script>
         
        <!--lib-->
        <!-- <script src="cordova.js"></script> -->
        <script src="js/lib/vue.min.js"></script>
        <script src="js/lib/vue-router.min.js"></script>
        <script src="js/lib/vuex.min.js"></script>
        <script src="js/lib/axios.min.js"></script>
        <!--<script src="js/lib/es6-promise.auto.min.js"></script> --!>
        <script src="js/lib/vue-chartjs.full.min.js"></script>
        <script src="js/lib/validators.min.js"></script><!--vulidate-->
        <script src="js/lib/vuelidate.min.js"></script><!--vulidate-->
        <script src="js/lib/vuelidate-error-extractor.js"></script><!--vulidate-->
        <script src="js/lib/swiper.min.js"></script><!--vulidate-->
        <script src="js/lib/vue-awesome-swiper.js"></script><!--vulidate-->
		<script src="js/lib/js.cookie.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@1.5/dist/vuetify.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script> -->
        <script src="js/component.js"></script>
        <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
        <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js?autoload=false"></script>
        <script src="https://cdn.jsdelivr.net/gh/wan2land/vue-daum-postcode/dist/index.js"></script>       
        <!--//lib-->
        <script src="js/join.js"></script>
        <script src="js/home.js"></script>
        <script src="js/injection.js"></script>
        <script src="js/growth.js"></script>
        <script src="js/mypage.js"></script>
        <script src="js/admin.js"></script>
        <script src="js/common.js"></script>
        
    </body>
</html>